@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .brand {
    font-family: "Great Vibes", "sans";
    @apply text-4xl;
  }
  .stories {
    @apply bg-white flex space-x-4 p-4 sm:border sm:border-gray-300 overflow-x-scroll rounded-md;
  }
  .stories::-webkit-scrollbar,
  .chat-messages::-webkit-scrollbar {
    display: none;
  }
   {
    display: none;
  }
  .post-action-btn {
    @apply text-2xl cursor-pointer fill-current;
  }
  .chat-messages {
    max-height: calc(100vh - 13.5rem);
    @apply flex-grow p-4 overflow-y-scroll;
  }
  @media (min-width: 640px) {
    .chat-messages {
      max-height: calc(100vh - 15.5rem);
    }
  }
  .search-input {
    @apply flex-grow bg-gray-100 border rounded-sm px-2 py-1;
  }
  .search-input:focus {
    outline: none;
    /* text-align: left !important; */
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

.profilePic:hover .profilePicOverlay {
  visibility: visible !important;
}

.instagram-heart {
  animation-duration: 1000ms;
  animation-name: like-heart-animation;
  animation-timing-function: ease-in-out;
}

@keyframes like-heart-animation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  15% {
    opacity: 0.9;
    transform: scale(1.2);
  }
  30% {
    transform: scale(0.95);
  }
  45%,
  80% {
    opacity: 0.9;
    transform: scale(1);
  }
}
